.filter-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .filter-button {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 2px solid #000;
    border-bottom: 3px solid #000;
    background-color: white;
    margin: 5px 5px;
    border-radius: 20px;
    padding: 8px 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .filter-button:hover {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
  }
  
  
  .filter-category {
    color: #64748b;
    font-size: 10px;
  }
  
  .active {
    background-color: #E99BA9;
    color: #000;
  }
  